.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: black;
    border-radius: 0.3rem;
    color: white;
  }

#repo {
    margin-bottom: 20px;
}
body {
  font-family: 'Montserrat Alternates', sans-serif;
}

#gallery {
  line-height: 0;
  -webkit-column-count: 2;
  -webkit-column-gap: 10px;
  -moz-column-count: 2;
  -moz-column-gap: 10px;
  column-count: 2;
  column-gap: 10px;
}

#gallery img {
  width: 100% !important;
  height: auto !important;
  margin-bottom: 1px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(74, 117, 133, 0.7);
  overflow: hidden;
}

.container:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
}
  
@media (min-width: 576px) {
  .jumbotron {
    padding: 4rem 2rem;
  }
}