{% extends 'all-projects/base.html' %}
{% load static %}

{% block content %}
    <div class="jumbotron">
        <h3 class="text-center">{{project.project_name}}</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <img src="{{project.project_image.url}}" class="card-img-top" alt="">
                    <div class="card-body">
                        <div class="card-text">
                            <p>{{project.description}}</p>
                            <a href="{{project.url}}" class="btn btn-dark" target="_blank">View Live Demo</a>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
{% endblock %}
