<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale=1>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-black fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'projects:index' %}" style="font-size: 140%;">Mary Njihia</a>
                </div>
                <div class="navbar-right">
                    <a href="{% url 'projects:projects' %}" style="color: white; font-size: 140%;">Projects</a>
                    <a href="{% url 'projects:skills' %}" class='ml-2' style="color: white; font-size: 140%;">Skills</a>
                </div>
            </div>
        </nav> 
    </body>
</html>