{% extends 'all-projects/base.html' %}
{% load static %}

{% block content %}
    {{block.super}}
    <div class="jumbotron jumbotron-fluid">
        <h1 class="text-center">Projects</h1>
    </div>
    <div class="container">
        <section id="gallery">
            {% for project in projects %}
            <div class="row" id="repo">
                <div class="col-md-12" class='project-wrapper'>
                    <a href="{% url 'projects:details' project.id %}"><img src="{{project.project_image.url}}" class="img-fluid day" alt=""></a>
                </div>
            </div>
            {% empty %}
            <div class="row">
                <h3>There are no Projects</h3>
            </div>
            {% endfor %}
        </section>
    </div>
{% endblock %}